/* --------------------------------- */
/* Css Styles                        */
/*---------------------------------- */


.home .home-content .hero-title span, .widget-twitter a, footer .social a:hover, .full-menu .full-inner nav ul li a:hover, .full-menu .full-inner .full-contact ul li.title, .full-menu .full-inner .full-contact ul li .social a:hover, .home .home-content .social a:hover i, .titlebar .page-title span, .news-box small, .news-list:hover .news-box .title, .news-article .category, .article-comments .comment-content .reply, .widgets-title, .widget-latest-news ul li a:hover p, .widget-categories ul li a:hover{
    color: #ffb100;
}

.full-open .nav-icon:hover span, .owl-carousel.work-areas .area .line, .owl-theme .owl-controls .owl-page.active span, .site-btn2:hover, .cbp-item figure{
	background: #ffb100 !important;
}

.cbp-l-loadMore-link{
    border: solid 2px #ffb100 !important;

}

footer{
    border-bottom: solid 6px #ffb100;
}

input.inp:focus, textarea.form-message:focus{
	border-color: #ffb100;
}

.cbp-l-loadMore-link, .site-btn{
	background: linear-gradient(to right, #ffb100 50%, #ffffff00 50%);
}












