
.home{
    background-size: 100%;
    position: relative;
}

.wrapper {
    background: #1f1f1f !important;
}

#particles-js {
    opacity: .6;
}

.cbp-l-loadMore-link {
    color: #fff !important;
}

.site-btn {
    color: #fff;
}

.nav-icon span {
    background: #fff;
}

.home .home-content .social a {
    color: #fff;
}

.home .home-content .hero-title {
    color: #fff;
}

.home .home-content p span {
    color: #fff;
}

.portfolio .portfolio-filter .cbp-filter-item-active {
    color: #fff !important;
}

.classic-title {
    color: #ffffff;
}

footer {
    background: #000000;
}

footer .getintouch strong {
    color: #fff;
}

.full-menu {
    background: #1f1f1f;
}

.full-menu .full-inner nav ul li a {
    color: #ffffff;
}

.full-menu .full-inner .full-contact {
    background: #000000;
}

.full-menu .full-inner .full-contact ul li {
    color: #ffffff;
}

.full-menu .full-inner .full-contact ul li .social a {
    color: #989898;
}

.full-open .nav-icon span {
    background: #fff !important;
}

.titlebar .page-title {
    font-size: 120px;
    font-weight: 900;
    letter-spacing: -2px;
    color: #fff;
}

hr{
    background: #454545;
    height: 1px;
}

.about .about-text .subtitle {
    color: #fff;
}

.about .about-text p {
    color: #878787;
}

.owl-carousel.work-areas .area i:before {
    font-size: 100px;
    color: #fff;
}

.owl-carousel.work-areas .area .title {
    color: #fff;
}

.owl-carousel.work-areas .area p {
    color: #b0b0b0;
}

.owl-theme .owl-controls .owl-page span{
    opacity: 1;
    background: #fff;
}

.news-box .title {
    color: #fff;
}

.news-box p {
    color: #b0b0b0;
}

.news-box .information{
    color: #fff;
}

input.inp {
    border: solid 3px #ffffff;
    background: none;
    color: #fff;
}

textarea.form-message {
    width: 100%;
    margin-bottom: 30px;
    border: solid 3px #ffffff;
    background: none;
    color: #fff;
}

p {
    color: #e0e0e0;
}

.contact .contact-info a {
    color: #e0e0e0;
}

.site-btn2 {
    background: #ffffff;
    color: #000 !important;
}

.site-btn2:hover{
    color: #fff !important;
}

.news-article .title {
    color: #fff;
}

.news-article .information {
    color: #fff;
}

.news-article blockquote {
    color: #fff;
}

.subtitle {
    color: #fff;
}

.article-comments .comment {
    border-bottom: solid 1px #414141;
}

.article-comments .comment-content p {
    color: #b9b9b9;
}

.article-comments .comment-content .date {
    color: #b4b4b4;
}

.widget-latest-news ul li p {
    color: #fff;
}

.widget-latest-news ul li {
    border-bottom: solid 1px #626262;
}

.widget-categories ul li a {
    color: #fff;
}

.widget-categories ul li {
    border-bottom: solid 1px #545454;
}

.search input {
    color: #fff;
    background: none;
}

.search {
    border: solid 3px #fff;
}

.search .search-icon button {
    color: #fff;
}

.news-big .news-box .title {
    color: #fff;
}

.news-big .news-box p {
    color: #c9c9c9;
}

.news-list {
    border-bottom: solid 1px #414141;
}

.portfolio-single .title {
    color: #fff;
}

.portfolio-single .information li span {
    color: #fff;
}

.portfolio-nav .port-next .nav-title {
    color: #fff;
}
    
.portfolio-nav .port-next .next-title {
    color: #fff;
}

.portfolio-single.type-2 .subtitle {
    color: #cbcbcb;
}

.portfolio-single.type-2 p {
    color: #aaaaaa;
}

.preloader .loader {
    border: 4px solid #fff;
}

.preloader .loader .loader-inner {
    background-color: #fff;
}

.preloader {
    background-color: #000;
}

.tweet ul li {
    color: #fff;
}

.tweet ul li span.date {
    color: #a4a4a4;
}




